---
apiVersion: v1
kind: Service
metadata:
  name: traefik-dashboard
  namespace: {{ traefik_namespace }}
  labels:
    app.kubernetes.io/instance: traefik
    app.kubernetes.io/name: traefik
    app.kubernetes.io/component: traefik-dashboard
spec:
  type: ClusterIP
  ports:
    - name: traefik
      port: 9000
      targetPort: traefik
      protocol: TCP
  selector:
    app.kubernetes.io/instance: traefik
    app.kubernetes.io/name: traefik

---
# HTTPS Ingress
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: traefik-ingress
  namespace: {{ traefik_namespace }}
  annotations:
    # HTTPS as entry point
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    # Enable TLS
    traefik.ingress.kubernetes.io/router.tls: "true"
    # Use Basic Auth Middleware configured
    traefik.ingress.kubernetes.io/router.middlewares: {{ traefik_namespace }}-basic-auth@kubernetescrd
    # Enable cert-manager to create automatically the SSL certificate and store in Secret
    cert-manager.io/cluster-issuer: ca-issuer
    cert-manager.io/common-name: "{{ traefik_dashboard_dns }}"
spec:
  tls:
    - hosts:
        - {{ traefik_dashboard_dns }}
      secretName: traefik-tls
  rules:
    - host: {{ traefik_dashboard_dns }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: traefik-dashboard
                port:
                  number: 9000
